[Unit]
Description=MIDI and PipeWire mixer - Gomix
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mixer
ExecStart=/usr/local/bin/gomix

[Install]
WantedBy=multi-user.target